body {
	background-color: #9FFBF3;
	font-family: brandon, sans-serif;
}

h1 {
	font-size: 27px;
}

h2 {
	font-size: 16px;
}

header {
	position: absolute;
	left: 240px;
	top: 0px;
}

#gamebox {
	position: absolute;
	width: 220px;
	top: 127px;
	margin-top: 5px;
	padding-left: 45px;
}

#amountbox {
	font-size: 36px;
	color: gold;
	border: 2px solid gold;
	text-align: center;
	width: 130px;
	
}

#mario-start, #mario-animation {
	width: 130px;
	height: 317px;
}

#jumperbox {
	margin-top: 3px;
}

#jumper {
	width: 130px;
}

#mario-animation {
	display: none;
}

#form {
	position: absolute;
	left: 240px;
	top: 227px;
}